@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@400;500;600;700&family=Londrina+Sketch&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kay+Pho+Du:wght@400;500;600;700&family=Londrina+Sketch&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #31766b;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 60px;
  font-family: "Londrina Sketch", sans-serif;
  text-align: center;
  color: #49306B;
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  background-color: #876b74;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0.2, 0.5);
}

Footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: right;
  color: rgb(42, 27, 62);
}


.music-list {
  color: #212154;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.music-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D0FFD6;
  border-radius: 4px;
}

.music-item p {
  margin: 8px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  background-color: #429286;
  font-family: "Fira Sans Condensed", sans-serif;
  color: rgb(222, 228, 208);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button+button {
  margin-left: 10px;
}

button:hover {
  background-color: #27695f;
}

input[type="text"] {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #D0FFD6;
  border-radius: 4px;
  background-color: #A8B7AB;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  button {
    width: 100%;
    margin: 10px 0;
  }
}